/* EDIT SCSS FILE NOT CSS! */

@font-face {
  font-family: Clompass;
  src: url("../font/clompass-sans.woff2");
}

* {
  font-family: Clompass;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background-color: #222;
}

#timetable {
  border: 5px solid white;

  article {
    background-color: #AAA;

    h1 {
      color: black;
    }
  }
}

.disclaimer {
  summary {
    color: red;
  }
}

#ltasks {
  article {
    font-size: 18px;
    img {
      display: inline;
      width: 20px;
    }
  }
}